<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<body style="background-color: rgb(145, 88, 142)">
    <div class="container text-center" style="color: white">
        <h1>About this Password Generator:</h1>
        <br>
        <br>
        <br>
        <h2>This website was created by Lucas Luro Alves,</h2>
        <h2>a brazillian webdeveloper specialized in Python BackEnd Web Developing.</h2>
        <h2>To create this website he used HTML5 and Python's Framework called Django.</h2>
        <br>
        <br>
        <br>
        <a href="{% url 'home'%}" class="btn btn-outline-light">Back to Home</a>
    </div>
</body>